$Cmain_page-padding-top: 20px;
$header-height: 50px;
//
$Cmain_content-margin-top:20px;
$Cmain_content-padding-LR:50px;
$Cmain_content_nav-height:50px;
//
$Cmain_content_section_ul-padding-LR:20px;
$Cmain_content_section_ul-padding-top:20px;
//
$Cmain_content_section_ul_content-size:225px;
$Cmain_content_section_ul_content-margin:30px;
$Cmain_content_section_ul_content-padding:30px;
//
$Cmain_content_section_ul_content_name_height:75px;
$Cmain_content_section_ul_content_rank_height:35px;