<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/dist/detail.js') }}"
    ></script>
    <script
      src="https://kit.fontawesome.com/aac0ed468b.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/detail/detail.css') }}"
    />
    <title>Document</title>
  </head>

  <body>
    <div id="toast" class="toast">
      <div class="toast-icon"></div>
      <div class="toast-text-wrapper">
        <p class="toast-text"></p>
      </div>
    </div>
    <!-- 戻るボタン -->
    <template id="back-btn">
      <p class="back_btn_BG">
        <a class="back_btn_BG-content">
          <i class="fa-solid back_btn_BG-content-icon"></i>
        </a>
      </p>
    </template>

    <!-- grayのheader部分 -->

    <template id="header">
      <header class="header">
        <h2 class="header-title"></h2>
        <div class="header-meta_BG">
          <div class="header-meta_BG-text">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </header>
    </template>

    <!-- 総合評価部分 -->

    <template id="total">
      <section>
        <h2 class="total">
          <span class="total-text"></span>
          <div id="star-box" class="total-star_BG"></div>
        </h2>
        <div class="total-bottom-border"></div>
      </section>
    </template>

    <!-- 評価の場所 -->
    <template id="evaluation-list">
      <main class="main">
        <section>
          <ul id="evolution-list__inner"></ul>
        </section>
        <button type="button">投稿する</button>
      </main>
    </template>

    <!-- 評価の場所の中身 -->
    <template id="evolution-item">
      <li class="evo_item">
        <p class="evo_item-text"></p>
        <div class="evo_item-item"></div>
      </li>
    </template>

    <!-- 星用 -->
    <template id="star">
      <div class="star-wrapper star">
        <input type="radio" class="star-ip" />
        <label class="star-label"></label>
      </div>
    </template>

    <!-- %表示用 -->

    <template id="progress">
      <div class="progress_BG">
        <div class="progress_BG-top">
          <div class="progress_BG-top-left"></div>
          <div class="progress_BG-top-right"></div>
        </div>
        <div class="progress_BG-bottom">
          <progress
            max="100"
            min="0"
            value="75"
            class="progress_BG-bottom-line"
          ></progress>
        </div>
      </div>
    </template>

    <template id="form_header">
      <h2 class="F-h2">
        <span></span>
        <a class="F-close_btn">
          <div class="F-close_btn-border_1"></div>
          <div class="F-close_btn-border_2"></div>
        </a>
      </h2>
    </template>

    <template id="form-input-list">
      <div class="evo_item">
        <p class="evo_item-text"></p>
        <div class="input-box evo_item-item"></div>
      </div>
    </template>

    <template id="form_list">
      <form class="F-form"></form>
    </template>

    <template id="select-btn">
      <div class="select_btn_BG">
        <div>
          <input type="radio" />
          <label for="" class="select_btn_BG-yes-label">
            <div class="select_btn_BG-label-text">YES</div>
          </label>
        </div>
        <div>
          <input type="radio" />
          <label for="" class="select_btn_BG-no-label">
            <div class="select_btn_BG-label-text">NO</div>
          </label>
        </div>
      </div>
    </template>

    <template id="submit-btn">
      <div class="F-submit_btn_BG">
        <button type="submit" class="F-submit_btn_BG-btn">投稿する</button>
      </div>
    </template>

    <div id="app" class="app"></div>
    <div class="form_BG hidden">
      <div class="form" id="form"></div>
    </div>
  </body>
</html>
