<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/dist/detail.js') }}"
    ></script>
    <script
      src="https://kit.fontawesome.com/aac0ed468b.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- 戻るボタン -->
    <template id="back-btn">
      <p>
        <a href="/"><i class="fa-solid fa-arrow-left"></i></a>
      </p>
    </template>

    <!-- grayのheader部分 -->

    <template id="header">
      <header>
        <div>
          <h2></h2>
          <div>
            <p></p>
            <p></p>
            <p></p>
            <p></p>
          </div>
        </div>
      </header>
    </template>

    <!-- 総合評価部分 -->

    <template id="total">
      <section>
        <h2>
          <span></span>
          <div id="start-box"></div>
        </h2>
      </section>
    </template>

    <!-- 評価の場所 -->
    <template id="evaluation-list">
      <section>
        <ul id="evolution-list__inner"></ul>
      </section>
    </template>

    <!-- 評価の場所の中身 -->
    <template id="evolution-item">
      <p></p>
      <div id="evolution-box"></div>
    </template>

    <!-- 星用 -->
    <template id="star">
      <input type="radio" name="" id="" class="js-ratio" disabled />
    </template>

    <!-- %表示用 -->

    <template id="progress">
      <progress></progress>
    </template>

    <div id="app"></div>
  </body>
</html>
