<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="{{ url_for('static', filename='scripts/dist/detail.js') }}"></script>
    <script src="https://kit.fontawesome.com/aac0ed468b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/detail/detail.css') }}" />
    <title>Document</title>
</head>

<body>
    <!-- 戻るボタン -->
    <template id="back-btn">
        <p class="back_btn_BG">
            <a class="back_btn_BG-content">
                <i class="fa-solid fa-arrow-left back_btn_BG-content-icon"></i>
            </a>
        </p>
    </template>

    <!-- grayのheader部分 -->

    <template id="header">
        <header class="header">
            <h2 class="header-title"></h2>
            <div class="header-meta_BG">
                <div class="header-meta_BG-text">
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </header>
    </template>

    <!-- 総合評価部分 -->

    <template id="total">
        <section>
            <h2 class="total">
                <span class="total-text"></span>
                <div id="star-box" class="total-star_BG"></div>
            </h2>
            <div class="total-bottom-border"></div>
        </section>
    </template>

    <!-- 評価の場所 -->
    <template id="evaluation-list">
        <main>
            <section>
                <ul id="evolution-list__inner"></ul>
            </section>
        </main>
    </template>

    <!-- 評価の場所の中身 -->
    <template id="evolution-item">
        <li>
            <p></p>
            <div></div>
        </li>
    </template>

    <!-- 星用 -->
    <template id="star">
        <div class="star-wrapper star" >
            <input type="radio" class="star-ip"/>
            <label class="star-label"></label>
        </div>
    </template>

    <!-- %表示用 -->

    <template id="progress">
        <progress max="100" min="0"></progress>
    </template>

    <div id="app"></div>
</body>

</html>