<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      type="module"
      src="{{ url_for('static', filename='scripts/dist/main.js') }}"
    ></script>
    <script
      src="https://kit.fontawesome.com/aac0ed468b.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <!-- header用 -->
    <template id="main-header">
      <header>
        <div>
          <h1>アプリの名前</h1>
        </div>
      </header>
    </template>

    <!-- main-page用 -->
    <template id="main-page">
      <main>
        <div>
          <nav class="tab">
            <ul id="tab-list"></ul>
          </nav>
          <section><ul id="subject-list"></ul></section>
        </div>
      </main>
    </template>

    <!-- tab用 -->
    <template id="tab__item">
      <li class="tab__item">
        <a href="" class="tab__link"></a>
      </li>
    </template>

    <!-- 授業個別ページ遷移用 -->
    <template id="subject-list-item">
      <li>
        <a href="" class="subject">
          <h2></h2>
          <div>
            <p></p>
            <p></p>
            <p></p>
            <div id="start-list"></div>
          </div>
        </a>
      </li>
    </template>

    <!-- 星用 -->
    <template id="star">
      <input type="radio" name="" id="" class="js-ratio" />
    </template>

    <div id="app"></div>
  </body>
</html>
