<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="detail">
      <nav>
        <p><a href="">授業名へ</a></p>
      </nav>
      <header>
        <div>
          <h1>授業名</h1>
          <div>
            <p>授業の名前:AAABBB</p>
            <p>曜日:月曜日</p>
            <p>時間:2時限目</p>
            <p>単位数:4単位</p>
          </div>
        </div>
      </header>
    </div>
    <main>
      <section>
        <h2>総合評価</h2>
        <div>
          <!-- js-ratio-isActiveまでが星に色がついている要素です。CSSだとcheckedが入っているやつに色つきにすればよいかと -->
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input
            type="radio"
            name=""
            class="js-ratio js-ratio-isActive"
            checked
            disabled
          />
          <input type="radio" name="" class="js-ratio" disabled />
        </div>
      </section>
      <section>
        <ul>
          <li>
            <h3>難易度・・・</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>先生の評価</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>充実度</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>課題難易度</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>中間難易度・・・</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>期末課題難易度・・・</h3>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <h3>当てられるか</h3>
            <div>
              <progress max="100" value="70"></progress>
            </div>
          </li>
          <li>
            <h3>出欠を取るか</h3>
            <div>
              <progress max="100" value="70"></progress>
            </div>
          </li>
          <li>
            <h3>持ち込み</h3>
            <div>
              <progress max="100" value="70"></progress>
            </div>
          </li>
        </ul>
      </section>
    </main>
    <button>
      <a href="">投稿</a>
    </button>
  </body>
</html>
