<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="input-form">
      <nav>
        <p><a href="">授業名へ</a></p>
      </nav>
      <h1>授業名の評価を投稿</h1>
      <section>
        <ul>
          <li>
            <span>テキスト・・・</span>
            <div>
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input type="radio" name="" class="js-ratio" checked disabled />
              <input
                type="radio"
                name=""
                class="js-ratio js-ratio-isActive"
                checked
                disabled
              />
              <input type="radio" name="" class="js-ratio" disabled />
            </div>
          </li>
          <li>
            <span>テキスト・・・</span>
            <div>
              <input type="radio" name="demo" id="" />
              <input type="radio" name="demo" id="" />
              <input type="radio" name="demo" id="" />
            </div>
          </li>
        </ul>
      </section>
      <h2>
        <span>総合評価</span>
        <div>
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input type="radio" name="" class="js-ratio" checked disabled />
          <input
            type="radio"
            name=""
            class="js-ratio js-ratio-isActive"
            checked
            disabled
          />
          <input type="radio" name="" class="js-ratio" disabled />
        </div>
      </h2>
    </div>
  </body>
</html>
