$main-width:800px;
//
$Cback_btn_BG-height:50px;
//
$Cheader_title-heigh:100px;
//
$Ctotal-height:50px;
//
$Cevo_item-height:40px;
//
$Cprogress_BG_bottom-height:4px;
//
$Csend_btn-height:40px;
$Csend_btn-bottom:20px;
//
$CF_h2-height:50px;
//
$CF_submit_btn_BG-height:40px;