@import "variables";
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    body {
        width: 100vw;
        height: 100vh;
        .back_btn_BG {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: white;
            .back_btn_BG-content {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(0, -50%);
                vertical-align: middle;
                cursor: pointer;
                .back_btn_BG-content-icon {
                    aspect-ratio: 1 / 1;
                    height: 15px;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                    transform: rotate(45deg);
                }
            }
        }
        .header {
            box-sizing: border-box;
            width: $main-width;
            background-color: #E2E2E2;
            margin: 0 auto;
            border-radius: 25px;
            padding: 0 25px;
            .header-title {
                box-sizing: border-box;
                width: 100%;
                height: $Cheader_title-heigh;
                line-height: $Cheader_title-heigh;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .header-meta_BG {
                position: relative;
                width: 100%;
                height: calc(4rem * 1.5);
                padding-bottom: 15px;
                .header-meta_BG-text {
                    position: absolute;
                    right: 0;
                    max-width: 300px;
                    p {
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
            }
        }
        .total {
            display: flex;
            justify-content: space-between;
            width: $main-width;
            height: $Ctotal-height;
            margin: 30px auto;
            .total-text {
                line-height: $Ctotal-height;
                height: $Ctotal-height;
                font-weight: normal;
            }
            .total-star_BG {
                box-sizing: border-box;
                padding: 4px 0;
                height: $Ctotal-height;
            }
        }
        .total-bottom-border {
            width: calc( $main-width * 0.8);
            height: 2px;
            background-color: #B7B7B7;
            margin: 0 auto;
        }
        .main {
            width: $main-width;
            margin: 0 auto;
            margin-top: 25px;
            height: 200px;
            ul {
                width: 100%;
                list-style: none;
            }
        }
        .evo_item {
            display: flex;
            justify-content: space-between;
            height: $Ctotal-height;
            width: 100%;
            margin: 25px 0;
            .evo_item-text {
                line-height: $Ctotal-height;
            }
            .evo_item-item {
                box-sizing: border-box;
                padding: 7px 0;
                height: $Ctotal-height;
            }
        }
        .star {
            display: inline-block;
            aspect-ratio: 1 / 1;
            height: 100%;
            margin: 0 5px;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            input[type="radio"] {
                display: none;
            }
            input[type="radio"]+label {
                display: inline-block;
                aspect-ratio: 1 / 1;
                height: 100%;
                background-image: url(../../image/star-o.svg);
                background-position: center;
                background-repeat: no-repeat;
            }
            input[type="radio"]:checked+label {
                background-image: url(../../image/star-i.svg);
            }
        }
    }
}