@import "variables";
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
    body {
        width: 100vw;
        height: 100vh;
        .back_btn_BG {
            position: relative;
            width: 100%;
            height: 50px;
            background-color: white;
            .back_btn_BG-content {
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translate(0, -50%);
                vertical-align: middle;
                cursor: pointer;
                .back_btn_BG-content-icon {
                    aspect-ratio: 1 / 1;
                    height: 15px;
                    border-left: 2px solid black;
                    border-bottom: 2px solid black;
                    transform: rotate(45deg);
                }
            }
        }
        .header {
            box-sizing: border-box;
            width: $main-width;
            background-color: lavenderblush;
            margin: 0 auto;
            border-radius: 25px;
            padding: 0 25px;
            .header-title {
                box-sizing: border-box;
                width: 100%;
                height: $Cheader_title-heigh;
                line-height: $Cheader_title-heigh;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .header-meta_BG {
                position: relative;
                width: 100%;
                height: calc(4rem * 1.5);
                padding-bottom: 15px;
                .header-meta_BG-text {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }
}