@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic";
}
html body {
  width: 100vw;
  height: 100vh;
}
html body .back_btn_BG {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: white;
}
html body .back_btn_BG .back_btn_BG-content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  vertical-align: middle;
  cursor: pointer;
}
html body .back_btn_BG .back_btn_BG-content .back_btn_BG-content-icon {
  aspect-ratio: 1/1;
  height: 15px;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  transform: rotate(45deg);
}
html body .header {
  box-sizing: border-box;
  width: 800px;
  background-color: #E2E2E2;
  margin: 0 auto;
  border-radius: 25px;
  padding: 0 25px;
}
html body .header .header-title {
  box-sizing: border-box;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
html body .header .header-meta_BG {
  position: relative;
  width: 100%;
  height: 6rem;
  padding-bottom: 15px;
}
html body .header .header-meta_BG .header-meta_BG-text {
  position: absolute;
  right: 0;
  max-width: 300px;
}
html body .header .header-meta_BG .header-meta_BG-text p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
html body .total {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 50px;
  margin: 30px auto;
}
html body .total .total-text {
  line-height: 50px;
  height: 50px;
  font-weight: normal;
}
html body .total .total-star_BG {
  box-sizing: border-box;
  padding: 4px 0;
  height: 50px;
}
html body .total-bottom-border {
  width: 640px;
  height: 2px;
  background-color: #B7B7B7;
  margin: 0 auto;
}
html body .main {
  width: 800px;
  margin: 0 auto;
  margin-top: 25px;
  height: 200px;
}
html body .main ul {
  width: 100%;
  list-style: none;
}
html body .evo_item {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  margin: 25px 0;
}
html body .evo_item .evo_item-text {
  line-height: 50px;
}
html body .evo_item .evo_item-item {
  box-sizing: border-box;
  padding: 7px 0;
  height: 50px;
}
html body .star {
  display: inline-block;
  aspect-ratio: 1/1;
  height: 100%;
  margin: 0 5px;
}
html body .star:first-child {
  margin-right: 0;
}
html body .star:last-child {
  margin-right: 0;
}
html body .star input[type=radio] {
  display: none;
}
html body .star input[type=radio] + label {
  display: inline-block;
  aspect-ratio: 1/1;
  height: 100%;
  background-image: url(../../image/star-o.svg);
  background-position: center;
  background-repeat: no-repeat;
}
html body .star input[type=radio]:checked + label {
  background-image: url(../../image/star-i.svg);
}
html body .progress_BG {
  box-sizing: border-box;
  padding: 5px 0;
  height: 100%;
  width: 250px;
  font-size: 0;
}
html body .progress_BG .progress_BG-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 4px);
}
html body .progress_BG .progress_BG-top .progress_BG-top-left {
  font-size: 1rem;
}
html body .progress_BG .progress_BG-top .progress_BG-top-right {
  font-size: 1rem;
}
html body .progress_BG .progress_BG-bottom {
  width: 100%;
  height: 4px;
}
html body .progress_BG .progress_BG-bottom .progress_BG-bottom-line {
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: lightgray;
}
html body .progress_BG .progress_BG-bottom .progress_BG-bottom-line::-webkit-progress-bar {
  background-color: lightcoral;
}
html body .progress_BG .progress_BG-bottom .progress_BG-bottom-line::-webkit-progress-value {
  background-color: lightcoral;
}
html body .progress_BG .progress_BG-bottom .progress_BG-bottom-line::-moz-progress-bar {
  background-color: lightcoral;
}
/*# sourceMappingURL=detail.css.map */